---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Content, frontmatter } from "../content/pages/pricing.md";
---
<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <h2>{frontmatter.title}</h2>
  <Content />
</BaseLayout>
